<div class="admin-container">
    <h1>Logg Inn</h1>

    <form action="/admin/admin" method="POST">

        <label for="username"><b>Brukernavn</b></label>
        <input class="form-input" type="text" placeholder="Skriv her" name="username">

        <label for="password"><b>Passord</b></label>
        <input class="form-input" type="password" placeholder="******" name="password">

        <input type="submit" value="Logg Inn" class="form-btn">

    </form>
</div>
