

<div class="footer" id="foot">
    <section class="legal">
        <h5>Thea Emilie Merli &#169 <%= new Date().getFullYear(); %></h5>
        <p>Bildene p책 denne nettsiden er beskyttet av opphavsretten.
        Kopiering for videreselging, eller bruk til opptrening av AI/KI
        er eksempler p책 brudd p책 opphavsretten og er
        ikke tilltat uten spesiell tillatelse fra eier. For 책 kontakte eier, <a href="/kontakt/" class="footer-link">klikk her</a>.</p>
    </section>
    <button class="footer-button" onClick="closeFoot()">X</button>
</div>