

<div class="footer" id="foot">
    <section class="legal">
        <h5>Thea Emilie Merli &#169 <%= new Date().getFullYear(); %></h5>
        <p> 
        All images on this site is protected by copyright law. Reselling or use for
        training of AI are few examples of prohibited use without special permission
        from the owner. To contact said owner, <a href="/kontakt/" class="footer-link">click here.</a>.</p>
    </section>
    <button class="footer-button" onClick="closeFoot()">X</button>
</div>

<section class="watermark">
    <a href="https://adrianemilmerli.no" id="watermark">Adrian E. Merli</a>
</section>