<section class="nav">
    <a href="/">IMAGES</a>
    <a href="/samlinger/">COLLECTIONS</a>
    <a href="/kontakt/">CONTACT</a>
    <a class="btn" href="/admin/logout">LOG OUT</a>
    <a href="/admin/dashboard">DASHBOARD</a>
</section>