<div class="searchBar">
    <section class="container">
        <form action="/search" class="searchForm" role="search" method="POST">
            <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search for images">
        <button class="search-btn" type="submit">SEARCH</button>
        </form>
    </section>
</div>