<div class="searchBar">
    <section class="container">
        <form action="/search" class="searchForm" role="search" method="POST">
            <input type="search" aria-label="Søk" id="searchInput" name="searchTerm" placeholder="Søk etter bilde...">
        <button class="search-btn" type="submit">Søk</button>
        </form>
    </section>
</div>