<div class="contact-container">
    <h1>Ta Kontakt</h1>
    <form action="/kontakt/" method="POST" class="contact-form">
        <label for="subject"><b>Tittel:</b></label>
        <input type="text" name="subject" id="subject">
        <br>
        <label for="message"><b>Melding:</b></label>
        <textarea name="message" id="message"></textarea>

        <input type="submit" value="Send" class="form-btn">

    </form>
</div>