<h1>Upload success...</h1>

<form class="upload-form form" method="POST" action="/upload" enctype="multipart/form-data">
    <input class="upload-input form" type="file" name="image" />
    <input type="submit" class="upload-btn form" />
</form>