@font-face {
    font-family: Kannada;
    src: url(../fonts/kannada.ttf);
}

body {
    font-family: "Kannada","Arial","Helvetica";
}

.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-container > form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    transform: scale(1.5);
    gap: 5px;
}

.form-input {
    padding: 2px;
    border: rgba(128, 128, 128, 0.521) solid 0.5px;
}

.form-btn {
    border: none;
    cursor: grab;
    padding: 2px;
}