body {
    font-family: "Roboto Mono", "Arial", "Helvetica";
}

.dash-bilder {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-width: 20vw;
    width: 100%;
    top: 10vh;
}

.dash-bilder > .btn {
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: grab;
    padding: 5px;
}

.bilde-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 5vh;
    max-width: 95vw;

}

.bilde-container > li {
    width: 300px;
    list-style: none;
}

.admin-post-controls, .admin-post-controls > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    text-decoration: none;
    font-size: small;
}

.btn {
    color: white;
    background-color: black;
    border: none;
    padding: 5px;
    margin: auto 5px auto 0px;
    font-size: medium;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.btn-delete {
    font-size: medium;
    padding: 5px;
    color: white;
    background-color: red;
    border: none;
    cursor: grab;
    margin-right: 3px;
}

img {
    object-fit: cover;
    image-rendering: optimizeQuality;
}

.register-container {
    margin-top: 10vh;
}

@media screen and (max-width: 1080px) {

    .dash-bilder {
        top: 8vh;
    }

    .bilde-container {
        justify-content: center;
        position: relative;
        top: 10vh;
    }
}