@font-face {
    font-family: Kannada;
    src: url(../fonts/kannada.ttf);
}

body {
    overflow-x: hidden;
    font-family: "Kannada", "Arial", "Helvetica";
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2px;
    width: auto;
    height: 100%;
    padding: 5px;
    margin-top: 5vh;
}

.img-card > img {
    object-fit:contain;
    image-rendering: optimizeQuality;
    max-width: 90vw;
    max-height: 90vh;
    margin: 5vh 20px 5vh 20px;
}


.img-card > h1 {
    display: none;
}

.img-sec {
    z-index: 2;
}

